version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - ./backend/data:/app/data


  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5000:80"
    depends_on:
      - backend
    restart: unless-stopped
